* {
  font-family: "Inter", sans-serif;
}

#matrix {
  display: none;
}

.container {
  display: flex;
  justify-content: space-around;
}

.nameText {
  display: block;
  text-align: center;
}

#purposeFirst {
  display: none;
}

#purposeSecond {
  display: none;
}

input {
  padding: 1.25em 3.25em 1.25em 3.25em;
  font-family: "Inter";
  font-size: 1.25em;
  background-color: #ffffff;
  color: #000000;
  border: 1px #d4d5d7 solid;
  border-radius: 0.5em;
}

input:hover {
  background-color: #f3f4f6;
  border: 1px #f6f8fa solid;
}

button {
  padding: 1.25em 2em 1.25em 2em;
  background-color: #f6f8fa;
  font-size: 1.25em;
  line-height: 125%;
  text-transform: uppercase;
  border-radius: 0.5em;
  border: 1px #d4d5d7 solid;
  cursor: pointer;
}

button:hover {
  background-color: #f3f4f6;
  border: 1px #d4d5d7 solid;
}

.input-matrix {
  display: flex;
  flex-direction: column;
}

p {
  font-size: 20px;
}

#purpose-table{
  display: none;
}